@using MikeCars.Application.ViewModels.Enums;

<div class="card text-center">
    <div class="card-body">
        <fieldset class="border p-4">
            <legend class="float-none w-auto p-2">1 - Personal Information</legend>
            <div class="row">
                <div class="col-9">
                    <div class="row mb-4">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Cpf</span>
                                <input id="DocumentNumber" name="DocumentNumber" type="text" class="form-control" placeholder="Only numbers" aria-label="DocumentNumber">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">First Name</span>
                                <input id="FirstName" name="FirstName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Last Name</span>
                                <input id="LastName" name="LastName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cellphone</span>
                                <input id="CellPhone" name="CellPhone" type="text" class="form-control" placeholder="(00) 0 0000-0000">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Email</span>
                                <input id="Email" name="Email" type="text" class="form-control" placeholder="email@email.com">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Birth Date</span>
                                <input id="BirthDate" name="BirthDate" type="date" class="form-control" placeholder="Nascimento">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 p-0 m-0">
                    <div class="card">
                        <div class="card-body upload-img-employee">
                            <img src="/Images/default-person-image.jpg" class="figure-img img-fluid rounded img-profile-select" alt="...">
                            <button id="btn-upload-img" class="btn btn-outline-primary img-profile-select">Upload</button>
                            <input id="btn-img-file" type="file" hidden>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="card mt-1 text-center">
    <div class="card-body">
        <fieldset class="border p-4">
            <legend class="float-none w-auto p-2">2 - Adress Information</legend>
            <div class="row">
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Zip Code</span>
                                <input id="ZipCode" name="ZipCode" type="text" class="form-control" placeholder="00000-000">
                                <span id="spn-zip-code-error" class="text-red not-visible">Informe um cep válido</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">State</span>
                                <input id="State" name="State" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">City</span>
                                <input id="City" name="City" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Street</span>
                                <input id="Street" name="Street" type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Neighborhood</span>
                                <input id="Neighborhood" name="Neighborhood" type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Number</span>
                                <input id="StreetNumber" name="StreetNumber" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Reference</span>
                                <input id="AdressReferencePoint" name="AdressReferencePoint" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="containner div-multiple-cards"> 
    <div class="card mt-1 text-center card-fit">
        <div class="card-body">
            <fieldset class="border p-4">
                <legend class="float-none w-auto p-2">3 - Contract info</legend>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <select class="form-select mb-3" aria-label=".form-select example">
                                <option value="none" selected>Select a Department</option>
                                @foreach (var item in Enum.GetValues<MikeCars.Application.ViewModels.Enums.EnumDepartmentViewModel>())
                                {
                                    <option value="@((int)item)">@(String.Concat((int)item, " - ", item.ToString()))</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Salary amount</span>
                            <input id="SalaryAmount" name="SalaryAmount" type="number" class="form-control" onchange="setTwoNumberDecimal" min="0" step="0.50">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="">Start Date</span>
                            <input id="ContractStartDate" name="ContractStartDate" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="">End Date</span>
                            <input id="ContractEndDate" name="ContractStartDate" type="date" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="card mt-1 text-center card-fit">
        <div class="card-body">
            <fieldset class="border p-4">
                <legend class="float-none w-auto p-2">3 - Vacation Info</legend>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <select class="form-select mb-3" aria-label=".form-select example">
                                <option value="none" selected>Select a Department</option>
                                @foreach (var item in Enum.GetValues<MikeCars.Application.ViewModels.Enums.EnumDepartmentViewModel>())
                                {
                                    <option value="@((int)item)">@(String.Concat((int)item, " - ", item.ToString()))</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Salary amount</span>
                            <input id="SalaryAmount" name="SalaryAmount" type="number" class="form-control" onchange="setTwoNumberDecimal" min="0" step="0.50">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="">Start Date</span>
                            <input id="ContractStartDate" name="ContractStartDate" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="">End Date</span>
                            <input id="ContractEndDate" name="ContractStartDate" type="date" class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


</div>

<script type="text/javascript" src="~/js/forms/Employee.js"></script>
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        triggerBtnUpload();
        triggerZipCodeBlur();
    });

    function triggerZipCodeBlur() {
        document
            .getElementById("ZipCode")
            .addEventListener("blur", function () {
                let currentElement = document
                    .getElementById("ZipCode");
                var adreessInfo = getAdressByZipCode(currentElement.value);
                return setHtmlAdressInfo(adreessInfo);
            });

    }

    function setHtmlAdressInfo(adressInfo) {
        let jsObject = JSON.stringify(adressInfo);
        console.log(jsObject + "ssssssssssssss");
        console.log(adressInfo + "okkkk");
        //document.getElementById("Street").innerHTML = adressInfo.logradouro;
    }



                //function enterDigits() {
                //    var documentNumber = document.getElementById("DocumentNumber").value;

                //    console.log(documentNumber);
                //    if (documentNumber.length == 11) { //CPF
                //        documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
                //        documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
                //        documentNumber = documentNumber.replace(/(\d{3})(\d{1,2})$/, "$1-$2")

                //        document.getElementById("DocumentNumber").innerText = documentNumber;
                //        //showInvisibleElements();

                //    } else {
                //        //let warning = document.getElementById("warning-document-number");
                //        //warning.classList.remove("not-visible");
                //    }
                //}
</script>