@using MikeCars.Application.ViewModels.Enums;
@model MikeCars.Application.ViewModels.EmployeeViewModel;

<div class="card text-center">
    <div class="card-body bg-gradient">
        <fieldset class="border p-4">
            <legend class="float-none w-auto p-2">1 - Personal Information</legend>
            <div class="row">
                <div class="col-9">
                    <div class="row mb-4">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cpf</span>
                                <input asp-for="DocumentNumber" id="DocumentNumber" name="DocumentNumber" type="text" class="form-control" placeholder="Only numbers" aria-label="DocumentNumber" required>
                                <div id="document-number-error-containner" class="row not-visible">
                                    <div class="col-sm">
                                        <small id="document-number-error" class="color-red">Please enter a valid document. Cpf has 11 digits.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">First Name</span>
                                <input asp-for="FirstName" id="FirstName" name="FirstName" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Last Name</span>
                                <input asp-for="LastName" id="LastName" name="LastName" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Cellphone</span>
                                <input asp-for="CellPhone" id="CellPhone" name="CellPhone" type="text" class="form-control" placeholder="(00) 0 0000-0000" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Email</span>
                                <input asp-for="Email" id="Email" name="Email" type="text" class="form-control" placeholder="employee_email@email.com" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Birth Date</span>
                                <input asp-for="BirthDate" id="BirthDate" name="BirthDate" type="date" class="form-control" placeholder="Nascimento" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 p-0 m-0">
                    <div class="card">
                        <div class="card-body upload-img-employee">
                            <img src="@(Model is null || string.IsNullOrEmpty(Model.ImagePath) ? "/Images/default-person-image.jpg" :Model.ImagePath)" class="figure-img img-fluid rounded img-profile-select" alt="...">
                            <button id="btn-upload-img" class="btn btn-outline-primary img-profile-select">Upload</button>
                            <input asp-for="Image" id="btn-img-file" type="file" hidden>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="card mt-1 text-center">
    <div class="card-body bg-gradient">
        <fieldset class="border p-4">
            <legend class="float-none w-auto p-2">2 - Adress Information</legend>
            <div class="row">
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Zip Code</span>
                                <input asp-for="ZipCode" id="ZipCode" name="ZipCode" type="text" class="form-control" placeholder="00000-000" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">State</span>
                                <input asp-for="State" id="State" name="State" type="text" class="form-control" readonly required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">City</span>
                                <input asp-for="City" id="City" name="City" type="text" class="form-control" readonly required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Street</span>
                                <input asp-for="Street" id="Street" name="Street" type="text" class="form-control" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Neighborhood</span>
                                <input asp-for="Neighborhood" id="Neighborhood" name="Neighborhood" type="text" class="form-control" readonly required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Number</span>
                                <input asp-for="StreetNumber" id="StreetNumber" name="StreetNumber" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="">Reference</span>
                                <input asp-for="AdressReferencePoint" id="AdressReferencePoint" name="AdressReferencePoint" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="card mt-1 text-center">
    <div class="card-body bg-gradient">
        <fieldset class="border p-4">
            <legend class="float-none w-auto p-2">3 - Contract info</legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <select asp-for="DepartmentId" class="form-select mb-3" aria-label=".form-select example" required>
                            <option value="none" selected>Select a Department</option>
                            @foreach (var item in Enum.GetValues<MikeCars.Application.ViewModels.Enums.EnumDepartmentViewModel>())
                            {
                                <option value="@((int)item)">@(String.Concat((int)item, " - ", item.ToString()))</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Salary amount</span>
                        <input asp-for="SalaryAmount" id="SalaryAmount" name="SalaryAmount" type="number" class="form-control" onchange="setTwoNumberDecimal" min="0" step="0.50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Start Date</span>
                        <input asp-for="ContractStartDate" id="ContractStartDate" name="ContractStartDate" type="date" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">End Date</span>
                        <input asp-for="ContractEndDate" id="ContractEndDate" name="ContractStartDate" type="date" class="form-control">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Start Hour</span>
                        <input asp-for="WorkStartHour" id="WorkStartHour" name="WorkStartHour" type="time" class="form-control">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">End Hour</span>
                        <input asp-for="WorkEndHour" id="WorkEndHour" name="WorkEndHour" type="time" class="form-control">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        buildTriggers();
    });

    function buildTriggers() {
        triggerZipCodeBlur();
        triggerInputDocumentNumber();
    }

    function triggerZipCodeBlur() {
        document.getElementById("ZipCode")
            .addEventListener("blur", function () {
                getAdressByZipCode(this);
            });
    }

    function triggerInputDocumentNumber() {
        document.getElementById("DocumentNumber")
            .addEventListener("blur", function () {
                enterDocumentDigits();
            });
    }

    async function getAdressByZipCode(userZipCodeInput) {
        let zipCode = userZipCodeInput.value;
        clearHtmlAdressInfo();

        if (zipCode.length == 8) {

            let adress = await getAdressByZipCodeInViaCep(zipCode);
            if (adress == null) {
                showErrorWhenGettingAdressByZipCode();
            } else {
                setHtmlAdressInfo(adress);
            }
        }
        else {
            showErrorWhenGettingAdressByZipCode();
        }
    }

    async function getAdressByZipCodeInViaCep(zipCode) {
        try {
            let response = await fetch("https://viacep.com.br/ws/" + zipCode + "/json/");
            var jsonResponse = await response.json();
            return jsonResponse;
        } catch (error) {
            return null
        }
    }

    function clearHtmlAdressInfo() {
        document.getElementById("State").value = "";
        document.getElementById("City").value = "";
        document.getElementById("Street").value = "";
        document.getElementById("Neighborhood").value = "";
    }

    function setHtmlAdressInfo(adreessObject) {
        document.getElementById("State").value = adreessObject.uf;
        document.getElementById("City").value = adreessObject.localidade;
        document.getElementById("Street").value = adreessObject.logradouro;
        document.getElementById("Neighborhood").value = adreessObject.bairro;
    }

    function enterDocumentDigits() {
        var documentNumber = document.getElementById("DocumentNumber").value;

        if (documentNumber.length == 11) { //CPF
            documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
            documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
            documentNumber = documentNumber.replace(/(\d{3})(\d{1,2})$/, "$1-$2")

            document.getElementById("DocumentNumber").innerText = documentNumber;

        } else {
            showErrorWhenInvalidDocumentNumber();
        }
    }

    function showErrorWhenInvalidDocumentNumber() {
        buildWarningToast("<strong>Please, enter a valid document number.</strong>");
    }

    function showErrorWhenGettingAdressByZipCode() {
        buildWarningToast("<strong>Please, enter a valid zip code</strong>");
    }

</script>


