@{
    ViewData["Title"] = "Create Employee";
}
<form asp-controller="Employee" asp-action="Create" method="post">
    <partial name="_EmployeeForm.cshtml">
        <div class="row mt-2">
            <div class="col-6 d-grid">
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-cancel-notification" class="btn btn-danger">Cancel</button>
            </div>
            <div class="col-6 d-grid">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
</form>

@section scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            buildModalCancelNotification("@Url.Action("Index", "Employee")", `Are you sure about <strong class="color-red">CANCEL</strong>? All unsaved work are going to be lost.`);
            triggerForm();
        });

        function triggerForm() {
            document.addEventListener('submit', function (event) {

                event.preventDefault();

                fetch("@Url.Action("Create", "Employee")", {
                    method: 'POST',
                    body: new FormData(event.target),
                }).then(function (response) {
                    if (response.ok) {
                        debugger;
                        window.location.href = "@Url.Action("Index", "Employee")";
                        return false;
                    } else {
                        let teste = response.text();
                        debugger;
                        showErrorFromServer(teste);
                        return false;
                    }
                }).catch(function (error) {
                    showErrorFromServer(error);
                });

                return false;
            });

        }

        function showErrorFromServer(content) {
            buildWarningToast(`<strong>${content}</strong>`);
        }
    </script>
}

