html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.not-visible {
    display: none;
}

.still-not-visible {
    display: none;
}

.text-in-end {
    text-align:right !important;
}

.img-profile-select {
    max-height: 106px;
    width: 130px;
}

.upload-img-employee {
    text-align: end;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.btn-grid {
    display: grid;
}
