html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.not-visible {
    display: none !important;
}

.still-not-visible {
    display: none;
}

.text-in-end {
    text-align:right !important;
}

.img-profile-select {
    height: 100px !important;
    width: 130px !important;
    padding-right: 1%;
}

.upload-img-employee {
    text-align: end;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.btn-grid {
    display: grid;
}

.text-center {
    text-align:center;
}

.text-end {
    text-align: end;
}

.card-fit {
    width: 45% !important;
    display: inline-block !important;
}

.div-multiple-cards {
    display: flex !important;
    justify-content: space-between !important;
}

.table-height {
    height: 500px;
    overflow-x: hidden;
}

.color-red {
    color: red;
}