* {
    font-family: 'Courier New';
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh !important;
}

.not-visible {
    display: none !important;
}

.img-profile-select {
    height: 100px !important;
    width: 130px !important;
    padding-right: 1%;
}

.upload-img-employee {
    text-align: end;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.card-fit {
    width: 45% !important;
    display: inline-block !important;
}

.div-multiple-cards {
    display: flex !important;
    justify-content: space-between !important;
}

.table-height {
    height: 500px;
    overflow-x: hidden;
}

.color-red {
    color: red;
}