<div id="modal-cancel-notification" class="modal modal-dialog modal-lg fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body-cancel-notification" class="modal-body bg-light bg-gradient">
            </div>
            <div class="modal-footer bg-secondary">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"><strong>Back to form</strong></button>
                <a id="modal-redirect-url" href="" class="btn btn-danger"><strong>Sure</strong></a>
            </div>
        </div>
    </div>
</div>