<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MikeCars.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MikeCars.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/zephir.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/notifier.css" />
    <script src="https://kit.fontawesome.com/bcc1568e4c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark bg-gradient fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="offcanvasDarkNavbar" class="offcanvas offcanvas-start text-bg-dark bg-gradient w-20" tabindex="-1" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header justify-content-end">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav me-auto justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle font-weight-bold" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employees</a>
                                <div class="dropdown-menu">
                                    <a asp-area="" asp-controller="Employee" asp-action="Create" class=" dropdown-item">New</a>
                                    <a asp-area="" asp-controller="Employee" asp-action="Index" class="dropdown-item">Index</a>
                                </div>
                                <a class="nav-link font-weight-bold" asp-area="" asp-controller="Employee" asp-action="Create"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid bg-light p-5 mt-5 h-100">
        <main class="main-concent" role="main">
            <partial name="_CancelSaveNotification.cshtml">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted bg-light h-5">
        <div class="container">
            <strong>&copy; 2023 - Developed by Michael Rozendo - (11) 9 4912-6483 - <a href="https://br.linkedin.com/in/mikerozendo">LinkedIn</a></strong>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notifier.js" asp-append-version="true"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
