<fieldset class="border p-2">
    <legend class="float-none w-auto p-2">1 - Personal Information</legend>
    <div class="row mb-4">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">CPF / CNPJ</span>
                </div>
                <input id="DocumentNumber" name="DocumentNumber" type="text" class="form-control" max="11" onblur='enterDigits()' placeholder="Only numbers" required>
                <span id="warning-document-number" class="text-danger not-visible">*Informe um número de documento válido</span>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">First Name</span>
                </div>
                <input id="FirstName" name="FirstName" type="text" class="form-control">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Last Name</span>
                </div>
                <input id="LastName" name="LastName" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cellphone</span>
                </div>
                <input id="CellPhone" name="CellPhone" type="text" class="form-control" placeholder="(00) 0 0000-0000">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input id="Email" name="Email" type="text" class="form-control" placeholder="email@email.com">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <input id="BirthDate" name="BirthDate" type="date" class="form-control" placeholder="Nascimento">
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="border p-2">
    <legend class="float-none w-auto p-2">2 - Adress Information</legend>
    <div class="row mb-4">
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Zip Code</span>
                </div>
                <input id="ZipCode" name="ZipCode" type="text" class="form-control" @*onblur="getAdressByZipCode()"*@ placeholder="05772-060">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">State</span>
                </div>
                <input id="State" name="State" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">City</span>
                </div>
                <input id="City" name="City" type="text" class="form-control" disabled>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Street</span>
                </div>
                <input id="Street" name="Street" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Neighborhood</span>
                </div>
                <input id="Neighborhood" name="Neighborhood" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Number</span>
                </div>
                <input id="StreetNumber" name="StreetNumber" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Reference</span>
                </div>
                <input id="AdressReferencePoint" name="AdressReferencePoint" type="text" class="form-control">
            </div>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    function enterDigits() {
        var documentNumber = document.getElementById("DocumentNumber").value;

        console.log(documentNumber);
        if (documentNumber.length == 11) { //CPF
            documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
            documentNumber = documentNumber.replace(/(\d{3})(\d)/, "$1.$2")
            documentNumber = documentNumber.replace(/(\d{3})(\d{1,2})$/, "$1-$2")

            document.getElementById("DocumentNumber").innerText = documentNumber;
            //showInvisibleElements();

        } else {
            let warning = document.getElementById("warning-document-number");
            warning.classList.remove("not-visible");
        }
    }
</script>